[Unit]
Description=openvpn-auth-azure-ad
After=openvpn.service
Wants=openvpn.service
Documentation=https://github.com/jkroepke/openvpn-auth-azure-ad

[Service]
PrivateTmp=true
ExecStart=/usr/local/bin/openvpn-auth-azure-ad
ProtectSystem=true
ProtectHome=true

[Install]
WantedBy=multi-user.target
